.feature-item{
    position: relative;
    padding-left: 94px;
    color: $white;
    padding-bottom:.5rem;
    &__icon{
        position: absolute;
        left: 0;
    }
    &__title{
        font-size: 1.875rem;
        font-weight: 300;
        margin-bottom: .8rem;
    }
}