.headline {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.9rem;
    @mixin atSmall {
        font-size: 2.8rem;
    }
    &--center {
        text-align: center;
    }

    &--orange { 
        color: $mainOrange;
    }

    &--small {
        font-size: 1.2rem;
    }
    @mixin atSmall {
        font-size: 1.8rem;
    }
    &--narrow { 
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &--light{
        font-weight: 100;
    }

    &--margin-b-small {
        margin-bottom: .5em;
    }

    &--margin-b-large {
        margin-bottom: 1.6em;
    }
    &--no-t-margin {
        margin-top: 0;
    }
}