.large-hero{
    border-bottom: 10px solid $mainBlue;
    position: relative;
    &__image {
        display: block;
    }
    &__text-content{
        padding-top: 60px;
        position: absolute;
        top:50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
    }
    &__title{
        font-size: 2.4rem;
        color: $mainBlue;
        font-weight: 300;
        margin: 0;

    @mixin atSmall {
        font-size: 2rem;
    }
    @mixin atMedium{
        font-size: 3.5rem;
    }
    @mixin atLarge{
        font-size: 4.9rem;
    }
    }
    &__subtitle{
        font-size: 1.2rem;
        color: $mainBlue;
        font-weight: 300;
        margin: 0;
        @mixin atSmall {
            font-size: 2rem;
        }
        @mixin atMedium{
            font-size: 1.8rem;
        }
        @mixin atLarge{
            font-size: 2.5rem;
        }
    }
    &__description{
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 30rem;
        margin: 1.5rem auto;
    }
    @mixin atSmall{
        font-size: 1.875rem;
    }
}

