.modal {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255, .94);
    z-index: 5;
    display: flex;
    &--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1)
    }
    &__inner {
        flex: 1;
        margin: auto
    }
    &__description {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.6;
    }
    &__close { 
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        color: $mainBlue;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        cursor: pointer;
        &:hover{ 
            color: $mainOrange;
        }
    }
}