.row{
    @mixin clearfix;
    @mixin atMedium{
        &__medium-4{
            float: left;
            width: 33.33%;
        }
        &__medium-4--larger{
            width: 37%;
        }
        &__medium-8{
            float: left;
            width: 66.66%;
        }
        &__medium-8--smaller{
            width: 63%;
        }

        &__medium-6{
            width: 50%;
            float: left;
        }
    }
    &--gutters > div{
        padding-right: 65px;
    }
    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }
    &__gutters-large{
        margin-right: -100px;
    }
    &__gutters-large > div{
        padding-right: 100px;
    }
    @mixin atMedium{
        &__b-margin-until-medium{
            margin-bottom: 0;
        }
    }
}