.section-title {
    font-size: 2.55rem; 
    font-weight: 300;
    text-align: center;
    color: $white;
    @mixin atSmall{
        font-size: 3.75rem;  
    }
    strong {
        font-weight: 500;
    }
    &__icon{
        display: block;
        margin-bottom: 0.6rem;
        margin-left: auto;
        margin-right: auto;
        @mixin atSmall {
            position: relative;
            top: 10px;
            margin-right: .5rem;
            display: inline-block;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &--blue{
        color: $mainBlue;
    }
    &__less-margin {
        margin-bottom: 1.3rem;
        margin-top: 0;
    }
}