.section-title {
    font-size: 2.55rem; 
    font-weight: 300;
    text-align: center;
    color: $white;
    @mixin atSmall{
        font-size: 3.75rem;  
    }
    strong {
        font-weight: 500;
    }
    &__icon{
        margin-right: .5rem;
    }
}