.site-header {
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    transition: background-color .3s ease-out;
    &--is-expanded {
        background-color: rgba($mainBlue, .55);
    }
    @mixin atMedium {
        position: fixed;
        background-color: rgba($mainBlue, .3) ;
        &--dark {
            background-color: rgba(23, 51, 72, .85)
        }
    }
    &__btn-container{
        @mixin atMedium {
            float: right;
        }
    }
    &__logo{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transition: transform .3s ease-out;
        transform-origin: 50% 0;
        background-color: $mainBlue;
        padding: 25px 36px;
        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            .site-header--dark & {
                transform: scale(.55)
            }
        }
    }
    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        &::before {
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #ffffff;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
        &__middle {
            position: absolute;
            top:8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #ffffff;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #ffffff;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
        @mixin atMedium {
            display: none;
        }
    }
    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);
        }
        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
    &__menu-content{
        opacity: 0;
        transform: scale(1.2);
        transition: all .3s ease-in;
        position: relative;
        z-index: -10;
        padding-top: 90px;
        text-align: center;

        @mixin atMedium { 
            transform: scale(1);
            opacity: 1;
            z-index: 1;
            padding-top: 0;
        }
        &--is-visible {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }
    }
}
.primary-nav { 
    padding-top: 10px;
    @mixin atMedium {
        padding-top: 0

    }
    &--pull-right{
        @mixin atMedium {
            float: right;
        }
    }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        padding-right: 20px;
        display: inline-block;
        @mixin atMedium {
            float: left;
            display: block;
        }
    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px;
        }
    }
    }
    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 10px 10px;
        font-size: .8rem;
        background-color: rgba($mainBlue, .5);
        @mixin atMedium {
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
            &.is-current-link {
                color: #fabb69;
            }
        }
    }
}