.testimonial {
        background: rgba(255, 255, 255, 0.85);
        padding: 0 18px 1px 18px;
        margin-bottom: 98px;
        @mixin atLarge {
            margin-bottom: 0;
            padding: 0 1.8rem 1px 1.8rem;
        }
        &__photo{
            border-radius: 100px;
            width: 160px;
            height: 160px;
            overflow: hidden;
            margin: 0 auto -80px auto;
            position: relative;
            top: -80px;
            border: 6px solid rgba(255, 255, 255, 0.85);
        }
        &__title {
            color: $mainBlue;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
        }
        &__subtitle {
            color: $mainOrange;
            text-align: center;
            font-size: 0.9rem;
            font-weight: 400;
            margin: .25rem 0 1rem 0;
        }
}