.wrapper{
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    
    &--medium {
        max-width: 976px;
    }
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--narrow {
        max-width: 470px;
    }

    &--no-padding-untill-medium{
        padding-left: 0;
        padding-right: 0;
        @mixin atMedium{
            padding-left: 18px;
            padding-right: 18px;
        }
    }
    &--no-padding-untill-large{
        padding-left: 0;
        padding-right: 0;
        @mixin atLarge{
            padding-left: 18px;
            padding-right: 18px;
        }
    }
    &--b-margin{
        margin-bottom: 1rem;
        @mixin atMedium{
            margin-bottom: 60px;
        }
    }
}